body {
  font-family: "Open Sans";
}

.nb-navbar {
  position: fixed;
  z-index: 1;
}

.nb-blue {
  background-color: #6cced9;
}

.nb-darkblue {
  background-color: #0367A6;
}

.nb-orange {
  background-color: #ff8b32;
}

.nb-dark-orange {
  background-color: #ff8b32;
}

.nb-hover-orange {
  border-bottom: 6px solid #ff8b32 !important;
}

.nb-hover-orange:hover {
  border-bottom: 6px solid #1B91BF !important;
}

.about-card {
  height: 100vh;
  font-size: 1.7vh;
  padding-top: 6vh;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

@media (max-width: 800px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.column .w3-card {
  margin-top: 8px;
  vertical-align: middle;
}

/*

ff8b32
ffa332
1B91BF

*/
