h1 {
  border-bottom: 6px solid #ff8b32;
}

.container {
  position: relative;
  max-width: 50%;
  left: 25%;
}

img {
  justify-content: center;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  max-width: 100%;
}
